<html>

<head>
	<title>Microblog</title>
	<link href="./css/style.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-2.0.3.min.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"> </script>
	<script src="./js/marked.js"> </script>
	<script src="./js/app.js"> </script>
	
</head>

<body>

<div id="content">
    

<nav>
	<div class="content">
		<h2>What's up</h2>
		<ul>
			<li>Ships</li>
			<li>Ideas</li>
		</ul>
		<h2>Labels</h2>
		<ul>
			<li><span class="colour-tab colour-one"></span>Office<span class="count">65</span></li>
			<li><span class="colour-tab colour-two"></span>OoO<span class="count">43</span></li>
			<li><span class="colour-tab colour-three"></span>Research<span class="count">2</span></li>
			<li><span class="colour-tab colour-four"></span>Shoutout<span class="count">13</span></li>
			<li><span class="colour-tab colour-five"></span>Social<span class="count">5</span></li>
			<li><span class="colour-tab colour-six"></span>Watercolour<span class="count">12</span></li>
			<li><span class="colour-tab colour-seven"></span>Work<span class="count">66</span></li>
		</ul>
	</div>
</nav> 

<!--Page Body-->
<div class="page-clip">
	<div class="page">
		<div class="comments-box">
			<div class="container">
				<a href="javascript:" id="write" class="mode active">Write</a><a href="javascript:" class="mode" id="preview" style="display:none;">Preview</a>
				<textarea>Write something here</textarea>
				<div id="content-preview" style="display:none;"></div>
				<div id="comments-actions" style="display:none;">
					<input type="button" class="action" value="Post Status" id="post-status" />
					<!--<input type="button" value="Labels" />-->
				</div>
			</div>
		</div>
		<div class="container" id="content-placeholder">

		</div>

	</div>
</div>
<!--/Page Body-->

</div>

<script type="text/template" id="post">
	<div class="media attribution">
		<a href="<%- user.profile_url %>" class="img profile">
			<img src="<%- user.profile_image %>" />
		</a>
		<div class="bd">
			<div class="comment">
				<a class="name" href="#"><%- user.name %></a>
				<%= post.text %>
			</div>
			<%= post.media %>
		</div>
	</div>
</script>

</body>

</html>