<html>

<head>
	<title>Microblog</title>
	<link href="./css/style.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-2.0.3.min.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"> </script>
	<script src="https://code.hoi.io/hoist.js"> </script>
	<script src="./js/helpers.js"> </script>
	<script src="./js/account.js"> </script>
	<script src="./js/marked.js"> </script>
	<script src="./js/app.js"> </script>


</head>

<body>

<div id="content">


</div>

<script type="text/template" id="login">
	<div class="login-forms">
		<nav>
			<form name="login">
				<h1>Login</h1>
				<input type="text" name="username" placeholder="Username" />
				<input type="password" name="password" placeholder="Password" />
				<input type="submit" value="Log in" />
			</form>
		</nav>
		<div class="page-clip">
			<div class="page">
				<form name="signup">
					<h1>Signup</h1>
					<input type="text" name="name" placeholder="Your Name" />
					<input type="text" name="emailAddress" placeholder="Email Address" />
					<input type="password" name="signupPassword" placeholder="Password" />
					<label>Profile Photo</label>
					<input type="file" name="profilePhoto" />
					<input type="submit" value="Signup" />
				</form>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="page_navigation">
	<nav>
		<div class="content">
			<h2>Hi <%-member.name%>, <a href="javascript:" class="light-link js-logout">Logout</a></h2>
			<div class="advertisement">
				<span class="headline">This app was built on</span>
				<a href="http://hoistapps.com/" class="logo"></a>
				<div class="link">
					<a href="https://github.com/hoist/micro-blog">Click here to download from Github</a>
				</div>
			</div>
		</div>
	</nav>
</script>

<script type="text/template" id="page_body">
	<div class="page-clip">
		<div class="page">
			<div class="comments-box">
				<div class="container">
					<a href="javascript:" id="write" class="mode active">Write</a><a href="javascript:" class="mode" id="preview" style="display:none;">Preview</a>
					<textarea>Write something here</textarea>
					<div id="content-preview" style="display:none;"></div>
					<div id="comments-actions" style="display:none;">
						<input type="button" class="action" value="Post Status" id="post-status" />
						<!--<input type="button" value="Labels" />-->
					</div>
				</div>
			</div>
			<div class="container" id="content-placeholder">

			</div>
		</div>
	</div>
</script>

<script type="text/template" id="post">
	<div class="media attribution">
		<a class="img profile">
			<img src="<%- user.profile_image %>" />
		</a>
		<div class="bd">
			<div class="comment">
				<a class="name"><%- user.name %></a>
				<%= post.text %>
			</div>
			<%= post.media %>
		</div>
	</div>
</script>

</body>

</html>
