<html>

<head>
	<title>Hurtle</title>
	<link href="./css/hurtle.min.css" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" />
</head>

<body>

<div id="content">


</div>

<script type="text/template" id="login">
	<div class="login-forms">
		<nav>
			<form name="login">
				<h1>Login</h1>
				<input type="text" name="username" placeholder="Email Address" />
				<input type="password" name="password" placeholder="Password" />
				<input type="submit" value="Log in" id="login-button" />
			</form>
		</nav>
		<div class="page-clip">
			<div class="page">
				<form name="signup">
					<h1>Signup</h1>
					<input type="text" name="name" placeholder="Your Name" />
					<input type="text" name="emailAddress" placeholder="Email Address" />
					<input type="password" name="signupPassword" placeholder="Password" />
					<label>Profile Photo</label>
					<input type="file" name="profilePhoto" />
					<input type="submit" value="Signup" id="signup-button" />
				</form>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="page_structure">
	<nav>
		<div class="content">
		</div>
	</nav>
</script>

<script type="text/template" id="page_navigation">
	<h2>Hi <%-member.name%>, <a href="javascript:" class="light-link js-logout">Logout</a></h2>
	<div class="advertisement">
		<span class="headline">This app was built on</span>
		<a href="http://hoistapps.com/" class="logo"></a>
		<div class="link">
			<a href="https://github.com/hoist/micro-blog">Click here to download from Github</a>
		</div>
	</div>
</script>

<script type="text/template" id="page_body">
	<div class="page-clip">
		<div class="page">
			<div class="comments-box">
				<div class="container">
					<a href="javascript:" id="write" class="mode active">Write</a><a href="javascript:" class="mode" id="preview" style="display:none;">Preview</a>
					<textarea>Write something here</textarea>
					<div id="content-preview" style="display:none;"></div>
					<div id="comments-actions" style="display:none;">
						<input type="button" class="action" value="Post Status" id="post-status" />
						<!--<input type="button" value="Labels" />-->
					</div>
				</div>
			</div>
			<div class="container" id="content-placeholder">
				<div class="loading"><img src="img/loader.gif" /></div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="edit_post">
	<textarea><%=post%></textarea>
	<input type="button" value="Save" />
</script>

<script type="text/template" id="post">
	<div class="media attribution" data-post="<%= post._id %>">
		<a class="img profile" data-profile="<%= user.id %>">
		</a>
		<div class="bd">
			<div class="comment">
				<div class="meta">
					<a class="name"><%- user.name %></a>
					<div class="methods">
						<%= (post.isEditable) ?
							"<a class='js-edit-post action-link' data-post='" + post._id + "' href='javascript:'>Edit</a>" +
							"<a class='js-delete-post action-link' data-post='" + post._id + "' href='javascript:'>Delete</a>" : "" %>
					</div>
				</div>
				<div class="post-content">
					<%= post.markedDownText %>
				</div>
			</div>
			<%= post.media %>
		</div>
	</div>
</script>

<script src="./js/hurtle.min.js"> </script>

<!--<script src="./js/jquery-2.0.3.min.js"> </script>
<script src="./js/underscore.min.js"> </script>
<script src="./js/hoist.js"> </script>
<script src="./js/helpers.js"> </script>
<script src="./js/account.js"> </script>
<script src="./js/marked.js"> </script>
<script src="./js/app.js"> </script>-->

</body>

</html>
