/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body, html {
	height:100%;


}
body {
	overflow-x:hidden;
}
*, body, html {
	font-size:16px;
    font-family:"Lato";
}
nav {
    position:absolute;
    left:0;
    right:50%;
    height:100%;
    margin-right:285px;
    overflow:hidden;
    background-color: #ecf0f1;
    font-weight:100;
    color:#2d3e4f;

}
nav .content {
	display:block;
	width:170px;
	margin-left:30px;
	margin-right:30px;
	margin-top:68px;
	float:right;
}
nav h2 { font-weight: bold; margin-bottom:20px; }
nav li { margin-bottom:17px;}
nav ul { margin-bottom:30px;}
nav .colour-tab {
	display:inline-block;
	width:6px;
	height:13px;
	border-radius:3px;
	margin-right:7px;
}
.colour-tab.colour-one {
	background:#8d48ab;
}
.colour-tab.colour-two {
	background:#f19b2b;
}
.colour-tab.colour-three {
	background:#28bb9c;
}
.colour-tab.colour-four {
	background:#2f81b7;
}
.colour-tab.colour-five {
	background:#e54d42;
}
.colour-tab.colour-six {
	background:#f0c32f;
}
.colour-tab.colour-seven {
	background:#39ca74;
}
nav .count {
	float:right;
	color:#95a5a6;
}
#content {
    position: absolute;
    width:100%;
    min-height:100vh;
}


.page {
	position:relative;
	width:100%;
	left:50%;
	margin-left:-285px;
	margin-top:28px;
}
.page-clip {
	max-width:100%;
	overflow:hidden;

}
.comments-box{
	border-bottom:1px solid #ecf0f1;
}
.comments-box a {
	color:#bdc3c7;
	display:inline-block;
	font-weight:bold;
	text-decoration: none;
	margin:0 25px 20px 0px;
}
.comments-box a.active {
	color:#9a5cb4;
}
.container {
	display:block;
	width:640px;
	padding:40px 40px 40px 40px;
}

textarea {
	display:block;
	border:1px solid #ecf0f1;
	border-radius:4px;
	width:100%;
	font-size:15px;
	resize:none;
	padding:20px;
	color:#7f8c8d;
}
#content-preview {
	display:block;
	border:1px solid #ecf0f1;
	border-radius:4px;
	font-size:15px;
	padding:20px;
	color:#7f8c8d;
}
#content-placeholder h1, #content-preview h1 {
  font-size:22px;
  font-weight:bold;
  margin:.5em 0 1em;
}
#content-placeholder h2, #content-preview h2 {
  font-size:18px;
  font-weight:bold;
  margin:.5em 0 1em;
}
#content-placeholder strong, #content-preview strong {
  font-weight:bold;
}
#comments-actions {
	margin-top:20px;
}
input[type=button] {
	display:inline-block;
	border:none;
	border-radius:4px;
	font-weight:100;
	background:#bdc3c7;
	color:white;
	padding:14px 25px;
	margin-right:20px;
}
input[type=button].action {
	background:#28bb9c;
}

.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;color:#35485d;font-size:15px;line-height:24px;}
.media .img {float:left; margin-right: 15px; width:40px; height:40px; overflow:hidden; border-radius:3px;}
.media .img img{display:block; max-width:100%;}
.media .imgExt{float:right; margin-left: 15px;}
.media a.name {
	color:#9a5cb4;
	font-weight:bold;
	text-decoration: none;
	font-size:16px;
	display:block;
}
.comment {
	margin-bottom:20px;
}

.light-link {
  font-weight:100;
  color:#334759;
}
.advertisement {
  background:#28bb9c;
  color:white;
  display:block;
  margin-top:30px;
  border-radius:4px;
  padding:19px 14px;
}
.advertisement .logo {
  display:block;
  width:40px;
  height:15px;
  background:url('../img/logo.png');
  margin:8px auto 15px auto;
}
.advertisement .headline {
  font-size:12px;
  font-weight:100;
  display:block;
  text-align:center;
}
.advertisement .link {
  display:block;
  padding:10px 4px 0px 4px;
  line-height:16px;
  border-top:1px solid rgba(255, 255, 255, 0.6);
  font-size:12px;
  font-weight:300;
  text-align:center;
}
.advertisement .link a {
  color:white;
  text-decoration:none;
}
.advertisement .link a:hover {
  text-decoration:underline;
}
form[name=login] {
  float:right;
}
.login-forms form {
  width:240px;
  margin:80px 30px 0px 30px;
}
.login-forms input {
  background:white;
  border-radius:5px;
  border:2px solid #ecf0f1;
  color:#333333;
  padding:10px;
  margin-bottom:10px;
  width:100%;
}
.login-forms input::-webkit-input-placeholder {
   color: #7f8c8d;
}

.login-forms input:-moz-placeholder {
   color: #7f8c8d;
}

.login-forms input::-moz-placeholder {
   color: #7f8c8d;
}

.login-forms input:-ms-input-placeholder {
   color: #7f8c8d;
}

.login-forms input[type=submit] {
  display:inline-block;
  border:none;
  border-radius:4px;
  font-weight:100;
  background:#28bb9c;
  color:white;
  padding:14px 25px;
  margin-right:20px;
}

.login-forms form h1 {
  font-size:36px;
  font-weight:600;
  margin-bottom:30px;
  color:#28bb9c;
}
.login-forms nav form h1 {
  color:#9a5cb4;
}
.login-forms nav form input[type=submit] {
  background-color:#9a5cb4;
}
